
  <md-content layout-padding layout-align="space-around center">
    <form name="userForm" flex layout="column" layout-align="center center">
    	<md-input-container>
            <label>Enter Pin</label>
            <input ng-model="user.pin">
      	</md-input-container>
      	<md-input-container>
            <label>Re-Enter Pin</label>
            <input ng-model="user.confirmPin">
      	</md-input-container>
	  	<section layout="column" layout-sm="column" layout-align="center center">
	      <md-button class="md-raised md-primary">Setup</md-button>
	    </section>
    </form>
  </md-content>