<md-content layout-padding layout-align="space-around center">
    <form name="userForm" flex layout="column" layout-align="center center">
    	<md-input-container>
            <label>Beneficiary Phone Number</label>
            <input ng-model="beneficiary.mobile">
      	</md-input-container>
        <md-input-container>
            <label>Beneficiary Name</label>
            <input ng-model="beneficiary.name">
        </md-input-container>
	  	<section layout="column" layout-sm="column" layout-align="center center">
	      <md-button class="md-raised md-primary">Add</md-button>
	    </section>
      beneficiary is {{beneficiary}}
    </form>
  </md-content>